.profile {
    display: none;
}

.text-section {
    width: 75%;
}

.fa-sharp {
    margin: 1rem;
}

.fa-solid {
    margin: 1rem;
}

@media only screen and (max-width: 420px) {
.text-section {
    width: 100%;
    text-align: center;
}
}